@import "../../Sass/Variables/colors.scss";
@import "../../Sass/Variables/margin-padding.scss";

.HamburgerMenu {
  margin: $primaryMargin;
  display: flex;
  flex-direction: column;

  .hamburger {
    cursor: pointer;

    display: flex;

    flex-direction: column;
    justify-content: space-evenly;

    .line {
    }

    .x-icon {
    }
  }

  .menu {
    min-width: 10rem;
    margin-top: 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .menu-item {
      padding: $primaryPadding;
      margin: $primaryMargin;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
